/* Icon image fixes for PNG icons */
.icon-image {
    width: 80px;
    height: 80px;
    margin-bottom: 6px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
}

.item-icon {
    font-size: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: transparent;
}